<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\styles\impressum.css">
    <title>Impressum</title>

</head>
<body>
    <div class="container">
    <h1>Impressum</h1>

    <p><strong>Angaben gemäß § 5 TMG</strong></p>
    <p>
        Henry Musterfux<br>
        Fuxbau 69<br>
        12345 Wald<br>
        Deutschland
    </p>

    <p><strong>Vertreten durch:</strong><br>
    Henry Musterfux</p>

    <p><strong>Kontakt:</strong><br>
    Telefon: 01234 56789<br>
    E-Mail: <a href="mailto:henry@musterfux.de">henry@musterfux.de</a></p>

    <p><strong>Umsatzsteuer-ID:</strong><br>
    Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
    DE123456789</p>

    <p><strong>Haftungsausschluss:</strong><br>
    Trotz keiner sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich wir verantwortlich.</p>

    <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
    Ronny Eichler<br>
    Fuxbau 2<br>
    12345 Wald</p>

    <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>


    <button class="btn-back" onclick="window.location.href='index.html'">Home</button>
    </div>


</body>
</html>
